<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        
        <link rel="stylesheet" href="{% static 'welcome/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'welcome/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'welcome/css/style.css' %}">
        
    </head>
    
    <body>
        
        <!-- Image and text -->
        <nav class="navbar navbar-light topNav">
          <a class="navTag" href="#">
            <img src="{% static 'welcome/assets/bootstrap_logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            dataTables
          </a>
        </nav>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static 'welcome/js/bootstrap.min.js' %}"></script>
    </body>
</html>